go 1.21.6

use ./FactorialOfNumbers

use ./DivisibleBy7Not5

use ./AllDivisibleBy7Not5

use ./MapWithNumbersSquared

use ./SliceFromCommaSeparatedString

use ./ClassWith2MethodsInterface

use ./MathFormula

use ./2DArray

use ./BinaryDivisible

use ./RemoveDuplicates

use ./SmallSentencesToCaps